html {
	width: 600px;
	/*height: 600px;*/
	line-height: 1.5;
	font-weight: normal;
	color: rgba(0,0,0,0.87);
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}
.input {
	outline: none !important;
	white-space: pre-wrap;
	border-bottom: 1px solid #9e9e9e;
	box-shadow: 0 2px 0 -1px #9e9e9e;
	transition: all .3s ease-out;
}
.input:active, .input:focus {
	border-bottom: 1px solid #8060E5;
	box-shadow: 0 2px 0 -1px #8060E5;
}
.no-issues {
	display: none;
	margin: 1em;
}
.label {
	background-color: #A9A9A9;
	color: white;
	padding: 0.2em 0.25em;
	border-radius: 0.2em;
}
.label.label-nok {
	background-color: #ce4037;
}
.label.label-ok {
	background-color: #29a853;
}
.main {
	margin-top: 64px;
	margin-left: 8px;
	margin-right: 8px;
}
.row {
	margin-bottom: 0;
}
.navtext {
	font-size: 1.5em;
	color: #fff;
	display: inline-block;
	font-weight: 500;
}
.header {
	font-size: 1.2em;
	font-weight: 400;
	color: #009688;
}
.btn, .card-action > a {
	font-size: 1em;
}
.card-content div, .card-content li {
	font-size: 1em;
    line-height: 2em;
}
#input {
	margin-bottom: 24px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	height: 56px;
	line-height: 56px;
	-webkit-user-select: none;
	cursor: default;
}
#overflow-menu-dropdown {
	margin-top: 8px;
}
.alex-text {
	color: #8060E5 !important;
}
.card > .card-content > .card-title {
	color: rgba(0,0,0,0.87);
}